# dependencies
node_modules/

# coverage
coverage
.nyc_output

.pytest_cache/

# production
build/
dist/
*.egg-info

# Environments
venv/
cellxgene/

# client build
server/app/web/static/css/
server/app/web/static/img/
server/app/web/static/media/
server/app/web/static/js/
server/app/web/templates/index\.html

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# misc
.DS_Store
npm-debug.log
.vscode
*.idea*
__pycache__
*.DS_Store*
data
