language: python
dist: xenial
sudo: required
node_js:
  - 8
cache:
  pip: true
install:
  - set -eo pipefail
  - pip install flake8
  - make build
  - make install
  - pip install -r server/requirements-dev.txt
  - docker build .

jobs:
  include:
  - name: "Branch Tests 3.7"
    python: "3.7"
    script: ./travis-build.sh
  - name: "Branch Tests 3.6"
    python: "3.6"
    script: ./travis-build.sh
  - name: "Smoke Tests"
    python: "3.6"
    script:
      - npm run --prefix client/ smoke-test
