language: python
python:
  - "3.6"
node_js:
  - "8"
cache:
  pip: true
install:
  - set -eo pipefail
  - pip install flake8 httpie
  - ./bin/build-client
  - pip install -e .
script:
  - set -eo pipefail
  - flake8 server/app/
  - pytest -s server/test/test_filter.py server/test/test_scanpy_engine.py
