language: python
dist: xenial
sudo: required
before_install:
  - nvm install node
node_js:
  - node
cache:
  - pip
  - npm
install:
  - set -eo pipefail
  - pip install flake8
  - make pydist install-dist dev-env

jobs:
  include:
    - name: "Branch Tests 3.7"
      python: "3.7"
      script: make build-client lint unit-test
    - name: "Branch Tests 3.6"
      python: "3.6"
      script: make build-client lint unit-test
    - name: "Docker Build"
      install: skip
      python: "3.6"
      script: docker build .
    - name: "Smoke Tests"
      python: "3.6"
      script: make smoke-test
