language: python
python:
  - "3.6"
node_js:
  - "8"
cache:
  pip: true
install:
  - set -eo pipefail
  - pip install flake8
  - ./bin/build-client
  - pip install -e .
  - pip install -r server/requirements-dev.txt
script:
  - set -eo pipefail
  - flake8 server/app/
  - pytest -s server/test
  - npm run test
