language: python
dist: xenial
sudo: required
python:
  - 3.6
  - 3.7

node_js:
  - 8

cache:
  pip: true
install:
  - set -eo pipefail
  - pip install flake8
  - make build
  - make install
  - pip install -r server/requirements-dev.txt
  - docker build .

jobs:
  include:
  - name: "Branch Tests"
    script:
      - set -eo pipefail
      - flake8 server
      - black --check
      - npm run --prefix client/ build
      - npm run --prefix client/ unit-test
      - pytest -s server/test
  - name: "Smoke Tests"
    if: branch = master AND type = cron
    script:
      - npm run --prefix client/ smoke-test
