recursive-include local_server/common/web/templates *
recursive-include local_server/common/web/static *

include local_server/requirements.txt
include local_server/requirements-prepare.txt
include local_server/converters/schema/hgnc_complete_set.txt.gz
include local_server/converters/schema/schema_definitions/*
