recursive-include backend/server/common/web/templates *
recursive-include backend/server/common/web/static *

include backend/server/requirements.txt
include backend/server/requirements-prepare.txt
include backend/server/converters/schema/hgnc_complete_set.txt.gz
include backend/server/converters/schema/schema_definitions/*
