svg {
    display: block;
    /*margin: 0 auto;*/
}

.axis .domain {
    display: none;
}

.axis--x text {
    fill: #999;
}

.axis--x line {
    stroke: #aaa;
}

.axis--activity .tick line {
    display: none;
}

.axis--activity text {
    font-size: 12px;
    fill: #000;
}

/*.axis--activity .tick:nth-child(odd) text {
    fill: #222;
}*/

.line {
    fill: none;
    stroke: #fff;
}

.area {
    fill: #448cab;
}

.activity:nth-child(odd) .area {
    fill: #5ca3c1;
}
