.graphCanvas path {
  shape-rendering: crispEdges;
}

#graphWrapper {
  position: relative;
}

#graphAttachPoint,
.graphSVG,
.graphCanvas {
  position: absolute;
}

#graphSVG {
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

circle {
  stroke-width: 4px;
  stroke: #000;
  fill: none;
}

.hidden {
  display: none;
}
