:local(.infoDrawerBackdrop) {
  background-color: rgba(16, 22, 26, 0.3);
}

:local(.infoDrawerTooltip) {
  box-shadow: 0 1px 1px 0 rgba(16, 22, 26, 0.2), 0 0 0 0 rgba(16, 22, 26, 0.1);
}

:local(.infoDrawerTooltip) :global(.bp3-popover-content) {
  background-color: #5C7080;
  color: #FFFFFF;
  font-size: 12px;
  padding: 6px;
}
