.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1em;
  padding: 10px;

  .list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1em;
    overflow-y: auto;
    max-height: 200px;
  }

  .empty {
    opacity: 50%;
  }
}
