[flake8]
ignore =
    # split before binary operator
    W504,
    # visually indented line with same indent as next logical line,
    E129,
    # whitespacek before ':'
    E203,
    # unexpected spaces around keyword / parameter equals
    E251

max-line-length=120
