anndata>=0.8.0
boto3>=1.27.47
click>=7.1.2
Flask>=1.0.2,<3.0.0
Flask-Compress>=1.4.0
Flask-Cors>=3.0.9
Flask-RESTful>=0.3.6
flask-server-timing>=0.1.2
flask-talisman>=0.7.0
flatbuffers>=1.11.0,<2.0.0 # cellxgene is not compatible with 2.0.0. Requires migration
flatten-dict>=0.2.0
fsspec>=0.4.4 #
gunicorn>=20.0.4
numpy==1.24.4
numba>=0.51.2
h5py>=3.0.0
packaging>=20.0
pandas>=1.0,!=1.1  # pandas 1.1 breaks tests, https://github.com/pandas-dev/pandas/issues/35446
PyYAML>=5.4  # CVE-2020-14343
scipy>=1.4
requests>=2.22.0
tiledb==0.21.4
s3fs==2023.9.0
Werkzeug<=2.3.7
