# TEMP anndata 0.7 breaks cellxgene - workaround
anndata==0.6.22post1
click>=6.7
fastobo>=0.6.1
Flask>=1.0.2
Flask-Caching>=1.4.0
Flask-Compress>=1.4.0
Flask-Cors>=3.0.6
Flask-RESTful>=0.3.6
flatbuffers>=1.10.0
fsspec>=0.4.4
numpy>=1.15.2
pandas>=0.24.2
scipy>=1.3.0
tables==3.5.1
# TEMP workaround for https://github.com/theislab/scanpy/issues/832 aka h5py regression
h5py==2.9.0
requests>=2.22.0
