:local(.root) {
  overflow-y: inherit;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

:local(.title) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:local(.messages) {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding-right: 16px;
}

:local(.message) {
  display: flex;
  align-items: flex-start;
  gap: 1ch;
}
