# Configure URL rewriting from /<dataset>/static/* to /static/*
files:
  "/etc/httpd/conf.d/static_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        RewriteEngine On
        RewriteRule "^/(.*)/static/(.*)" "/static/$2" [PT]
        RewriteRule "^/(.*)/favicon.png" "/static/img/favicon.png" [PT]
        RewriteRule "^/favicon.png" "/static/img/favicon.png" [PT]
