.heroContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  font-size: 48px;
  margin-bottom: 0;
}

.subHero {
  font-size: 18px;
  max-width: 600px;
  text-align: center;
}

.or {
  margin: 20px;
  font-family: Georgia;
  font-style: italic;
}
