---
---

@import "{{ site.theme }}";
body {
	color: #3b3a3a;
}
section {
	width: 500px;
	float: right;
	padding-bottom: 50px;
	padding-top: 15px;
}
a {
	color: #9e2364;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #9e2364;
	font-weight: bold;
}
a small {
	font-size: 11px;
	color: #9e2364;
	margin-top: -0.3em;
	display: block;
}
a:hover small {
	color: #9e2364;
}
body {
	font: 14px/1.5 "Roboto", "Arial", Helvetica, Arial, sans-serif;
	color: #000000;
	font-weight: 400;
}
table.fixed-layout {
	table-layout: fixed;
}
